
:host {
 
  height: 100%;
  align-items: center;
}

mat-card {
  left: 20rem;
  top: -7rem;
  width:1200px;
  margin: 2rem;
  background: rgba(255,255,255,0.9);;   
}

mat-card-header {
    color: #3f51b5;
}

mat-card-content {
    padding: 8px;
}

.fullBg {
  z-index:0;
  position: fixed;
  top: 0;
  left: 20rem;
}

